body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  background-color: #000;
  margin: 0;
  color: white;
  height: 100vh;
  overflow: hidden;
}
.main{
  display: flex;
  height: calc(100vh - 80px);
  overflow: hidden;
  
}

.main-content{
  background-color: #121212;
  flex: 1;
  border-radius: 1rem;
  overflow-y: auto;
  height: calc(100vh - 72px);
  padding-bottom: 100px;
}

.sticky-nav{
  position: sticky;
  top: 0;
  background-color: #121212;
  margin-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
  z-index: 2;
}

.sticky-nav-icons{
  margin-left: 0.75rem;
}

.sticky-nav-options{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky-nav-options button, .sticky-nav-options i{
  margin: 0rem 1rem;
}

h3{
  margin-left: 1rem;
}

.dark-badge{
  background-color: transparent;
  color: white;
  border: 0.5px solid transparent;
  border-radius: 1rem;
  padding: 0.25rem 1rem;
  font-weight: 700;
  height: 2rem;
  width: fit-content;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .hide{
    display: none;
  }
}
.card{
  background-color: #1a1a1a;
  width: 150px;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 0.75rem;
}

.cards-container{
  display: flex;
  flex-wrap: wrap;
}
.card-img{
  width: 100%;
  border-radius: 0.5rem;
}
.card-title{
  font-weight: 600;
}
.card-info{
  font-size: 0.8rem;
  opacity: 0.8;
}

.footer{
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line{
  width: 90%;
  height: 50%;
  border-top: 1px solid white;
  opacity: 0.4;
}